RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !-d
RewriteRule vexation-(.*) ./?post=$1 [L,NS]
RewriteRule p/ ./#p [L,NS]
RewriteRule comment/ ./writes/insert-comment.php [L,NS]

