.left-header {
    height: 100%;
    width: 30%;
    display: inline-block;
    margin: 0;
    background-color: #7986CB;
    position: fixed;
}

html, body {
    margin: 0!important;
    cursor: default;
    font-family: Roboto,sans-serif;
}

.page {
    display: inline-block;
    width: 70%;
    margin: 0px 0px 30px 0px;
    float: right;
}

.container {
    margin: 0;
}

.page-section {
    margin: 0px 150px;
    /* background-color: #e8e8e8; */
    height: 100%;
}

.page-header {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #7986CB;
    font-size: 25px;
    padding-top: 30px;
    border-bottom: 5px solid #ebebeb;
    padding-bottom: 10px;
}

.page-content {
    /* font-size: x-large; */
}

.nav {
    color: #a2a2a2;
    font-family: Roboto,sans-serif;
    padding-top: 10px;
    margin: 0!important;
}

.other-links {
    font-size: 13px;
    display: inline-block;
    float: right;
    padding: 10px 0px;
}

.link-container {
    display: inline-block;
}

.brand {
    display: inline-block;
}

.link {
    text-decoration: none;
    color: #a2a2a2;
    margin: 0px 6px;
    font-weight: 100;
}

.link:hover {
    color: #151515;
}

.ad {
    margin: 65% auto;
    width: 100%;
    color: rgba(255, 255, 255, 0.41);
    font-family: Roboto;
    text-align: center;
    transition: all 0.5s;
}

.ad-big-text {
    font-size: 35px;
}

.ad-small-text {
    font-size: 20px;
    padding-top: 10px;
}

.left-header:hover ad {
    color: white;
}

.left-header:hover .ad {
    color: white;
}

.link.primary {
    background-color: #7986cb;
    padding: 3px 10px;
    border-radius: 3px;
    color: white;
}

.link.primary:hover {
    background-color: #6671ab;
}

.vexation {
    font-size: 20px;
    padding: 15px 0px;
    border-bottom: 1px solid #ebebeb;
}

.emotion {
    font-size: 12px;
    padding: 7px;
    background-color: #9FA8DA;
    border-radius: 3px;
    color: white;
}

.vexation-footer {
    display: block;
    padding-top: 10px;
}

.inside {
    font-size: 10px;
    float: right;
    padding-top: 10px;
    color: #d4d2d2;
    padding: 15px 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

.vexation-content:hover > a {
    color: #444343;
}

.inside:hover {
    color: #444343;
}

.comments-card {
    padding: 15px;
    font-size: 12px;
    color: #444343;
    background-color: #ececec;
    border-radius: 3px;
    margin: 10px 0px;
}

.comments {
    margin-top: 20px;
}

.username {
    font-size: 15px;
    color: #9E9E9E;
    margin: 0px 10px;
}

.rant-box {
    min-width: 96%;
    min-height: 120px;
    max-width: 96%;
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    margin: 10px 0px;
    color: #444343;
    padding: 10px;
}

.secondary {
    background-color: #7986cb;
    color: white;
    padding: 10px 20px;
    border-radius: 3px;
    display: inline-block;
    text-transform: uppercase;
}

.comments-header {
    font-size: 14px;
    color: #9E9E9E;
}

.icon {
    width: 20px;
    height: 25px;
    vertical-align: middle;
}

.icon.novex {
    content: url(../img/novex.svg);
}
.icon.abegi {
    content: url(../img/abegi.svg);
}
.icon.cheya {
    content: url(../img/cheya.svg);
}
.icon.comment {
    content: url(../img/comment.svg);
}
